# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
# This service file is designed to route TX traffic on eth1 interface.
# Customer needs to enable this service file based on the requirement.
# Flexibility is provided for the customers to modify QoS using TC.
[Unit]
Description=eth1 QOS installer
After=early_eth1.service

[Service]
User=setup-qos
Group=setup-qos
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/initscripts/setup_eth.sh /etc/initscripts/config.ini add eth1
ExecStop=/etc/initscripts/setup_eth.sh /etc/initscripts/config.ini del eth1
Nice=-20
Restart=on-failure
RestartSec=1ms

[Install]
WantedBy=multi-user.target
