# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

SUBSYSTEM=="misc", KERNEL=="vhost_usb_gadget", TAG+="systemd"